.form {
  width: 360px;
  height: 72px;
}
.form label:first-child {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  border-width: 1px;
}
legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
fieldset label:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
